.home-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  height: 100vh;
  color: #3b5a5a;
}

/* .title-background-color {
  background-color: #dcebf5;
} */

.background-color {
  background-image: url("https://images.pexels.com/photos/6214370/pexels-photo-6214370.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
